<div class="container mt-5">
  <h2 class="text-center">Lista de Servidores</h2>
  <table class="table table-striped mt-3">
    <thead class="table-dark">
      <tr>
      <th>Nombre</th>
      <th>Sistema Operativo</th>
      <th>RAM</th>
      <th>Disco</th>
      <th>IP</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let server of servers">
      <td>{{ server.name }}</td>
      <td>{{ server.os }}</td>
      <td>{{ server.ram }} GB</td>
      <td>{{ server.disk_capacity }}</td>
      <td>{{ server.ip_address }}</td>
      <td>{{ server.status }}</td>
      <td>
        <span [ngClass]="{'text-success': server.status === 'Activo', 'text-danger': server.status === 'Inactivo'}">
          {{ server.status }}
        </span>
      </td>
    </tr>
  </tbody>
</table>
</div>
